#headerHome {
  position: relative;
  z-index: 1;
}

#searchContainer {
  display: flex;
  align-items: center;
  width: 70%;
  height: 80%;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0 auto;
}

#searchByIdInput {
  flex: 1;
  border: none;
  height: 3rem;
  background: transparent;
  outline: none;
  padding-left: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

#searchIdButton {
  background: linear-gradient(to right, #D42029, #ff0000);
color: #fff;
border-radius: 2rem;
width: 8rem;
height: 3rem;
font-size: 1.3rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -ms-number-format: none;
  text-align: left;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#tvIcon {
  width: 8%;
}

body {
  background-color: #343a40;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #f8f9fa;
}

.navbar {
  background-color: #343a40;
}

#searchLineID {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  z-index: -1;
}

.animate-up {
  animation: moveUp 3s forwards;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

#moviePresentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

#movieCast{
  background: linear-gradient(to left, #61090d00, #d30f193b);
  border-radius: 50px;
}

#movieDescriptionUnderPoster{
  border-radius: 50px;
}

.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 7%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d42029;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-nav .nav-item.active .nav-link {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar-nav .nav-item:not(.active) .nav-link {
  color: rgb(173, 168, 168);
  font-size: 20px;
}

#movieDescriptionUnderPoster {
  margin-top: 4rem;
  margin-left: -2.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 2rem;
}

#posterContainer {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.columnsSection {
  padding-top: 1.2rem;
}

#MoviePoster img {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

#movieDetails {
  flex: 2;
  padding: 20px;
  color: #ffffff;
  font-weight: 700;
}

#movieTitle {
  width: 90%;
  font-weight: 900;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

#movieTitle,
#dateAndRuntime,
#movieGenre {
  margin-left: 3rem;
}

#movieTitle,
#dateAndRuntime,
#movieGenre,
#movieCast {
  margin-bottom: 10px;
}

.columnsSection {
  display: flex;
  justify-content: space-evenly;
}

.columnsSection img {
  margin-bottom: 2rem;
}

#movieCast img {
  width: 5.5rem;
  height: 8rem;
  border-radius: 50px;
  transition: transform 0.3s; 
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.879);
}

#movieCast img:hover{
  transform: scale(1.15); 
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.879); 
}

#movieGenre {
  margin-bottom: 2rem;
}

.heart-icon {
  cursor:pointer; }



:root {
  --crsl-bg: transparent;
  --box-bg: #1e272e;
  --box-shadow: #0000001c;
  --box-shadow-border: #0000000f;
  --box-border: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #2f3539;
  background: -moz-radial-gradient(circle, #2f3539 0%, #1e272e 100%);
  background: -webkit-radial-gradient(circle, #2f3539 0%, #1e272e 100%);
  background: radial-gradient(circle, #2f3539 0%, #1e272e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3539",endColorstr="#1e272e",GradientType=1);
}

html > p,
body > p {
  font-size: 0.95em;
  font-weight: bold;
  position: absolute;
  top: 7.5%;
  width: 100%;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  user-select: none;
}
html > .carousel,
body > .carousel {
  padding-top: 125px;
}

.carousel {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.carousel__prev,
.carousel__next {
  position: absolute;
  bottom: -15%;
  transition: transform 0.25s ease;
  top: 110%;
  
}
.carousel__prev i,
.carousel__next i {
  font-size: 80px;
  color: var(--box-border);
  cursor: pointer;
}
.carousel__prev:hover,
.carousel__next:hover {
  transform: scale(1.25);
}
.carousel__prev {
  left: 38.5%;
}
.carousel__next {
  right: 40%;
}
.carousel__body {
  width: 100%;
  padding: 20px 0 50px 0;
  overflow: hidden;
}
.carousel__body .carousel__slider {
  position: relative;
  transition: transform 1s ease-in-out;
  background: var(--crsl-bg);
}
.carousel__body .carousel__slider__item {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}
.carousel__body .carousel__slider__item .item__3d-frame {
  position: relative;
  width: 90%;
  height: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.carousel__body .carousel__slider__item .item__3d-frame:after {
  content: "";
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.537);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.537);
  transform: rotateX(90deg) translate3d(0px, -20px, 0px);
  opacity: 0.85;
}
.carousel__body .carousel__slider__item .item__3d-frame__box {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-color: var(--box-border);
  background: var(--box-bg);
  border-width: 3px;
  border-style: solid;
}
.carousel__body .carousel__slider__item .item__3d-frame__box h1 {
  font-size: 7em;
  width: 100%;
  color: var(--box-border);
}
.carousel__body .carousel__slider__item .item__3d-frame__box--right,
.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  top: 0;
  width: 40px;
  backface-visibility: hidden;
}
.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  left: 0;
  border-left-width: 5px;
  transform: translate3d(1px, 0, -40px) rotateY(-90deg);
  transform-origin: 0%;
  background-color: #fbf4f4;
  background: linear-gradient(to right, #070101, #ffffff);
}
.carousel__body .carousel__slider__item .item__3d-frame__box--right {
  right: 0;
  border-right-width: 5px;
  transform: translate3d(-1px, 0, -40px) rotateY(90deg);
  transform-origin: 100%;
  background: linear-gradient(to left, #070101, #ffffff);
}

.carousel {
  margin-top: 3rem;
}

#footerHome {
  background-color: #343a40;
  }
  
  #footerIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    height: 80px;
    font-size: 3rem;
  }
  
  #creditLine{
  display: flex;
  justify-content: center;
  }
  
  #footerIcons a {
    text-decoration: none;
    color: #f8f9fa;
  }
  
  #footerIcons a:active {
    text-decoration: none;
  }

  .bigCharacterName{
    font-size: 2rem;
  }

  div.cast-columns1 span {
    font-size: 1.4rem;
  }

  div.cast-columns2 span {
    font-size: 1.4rem;
  }

  #moviePresentation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  #posterContainer {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  #movieDetails {
    flex: 2;
    padding: 20px;
    color: #ffffff;
    font-weight: 700;
  }



  @media only screen and (max-width: 850px) {
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      background-color: transparent;
    }

    #footerHome {
      margin-top: 1.5rem;
    }

    .carousel {
      margin-top: 4rem;
    }

    .carousel__prev {
      left: 35%;
    }
    .carousel__next {
      right: 38%;
    }

    div.cast-columns1 span {
      font-size: 0.85rem;
    }

    div.cast-columns2 span {
      font-size: 0.85rem;
    }


    .carousel__prev i,
    .carousel__next i {
      font-size: 4rem;
      color: var(--box-border);
      cursor: pointer;
    }
    
    #searchIdButton {
      cursor: pointer;
    }
  
    #searchLineID {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-family: "Dancing Script", cursive;
    }

   
    #movieDescriptionUnderPoster {
      margin-top: 2rem;
      margin-left: -1.5rem;
      font-weight: 600;
      font-size: 0.9rem;
      padding: 1rem;
    }
  
    #posterContainer {
      flex: 1;
      padding: 10px;
      text-align: center;
    }
  
    .columnsSection {
      padding-top: 1rem;
      font-size: 0.6rem;
    }
  
    #MoviePoster img {
      max-width: 100%;
      height: 100%;
      border-radius: 8px;
      margin-top: 5rem;
    }
  
    #movieDetails {
      flex: 2;
      padding: 10px;
      color: #ffffff;
      font-weight: 600;
    }
  
    #movieTitle {
      width: 90%;
      font-weight: 700;
      font-family: "Dancing Script", cursive;
      font-size: 2rem;
    }
  
    #movieTitle,
    #dateAndRuntime,
    #movieGenre {
      margin-left: 1.5rem;
    }
  
    #movieTitle,
    #dateAndRuntime,
    #movieGenre,
    #movieCast {
      margin-bottom: 5px;
    }
  
    .columnsSection {
      display: flex;
      justify-content: space-evenly;
      padding-left: 30px;
      text-align: center;
    }
  
    .cast-columns span {
      font-size: 0.5rem;
    }
  
    .columnsSection img {
      margin-bottom: 1rem;
 
    }
  
    #movieCast img {
      width: 4.5rem;
      height: 6rem;
      border-radius: 40px;
      transition: transform 0.3s;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.879);
    }
  
    #movieCast img:hover {
      transform: scale(1.1);
      box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.879);
    }
  
    #movieGenre {
      margin-bottom: 1rem;
    }
  
    .heart-icon {
      cursor: pointer;
    }

    .navbar-collapse.show {
      background-color: #47494d94;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 5%;
    }
  
    #searchLineID {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      font-family: "Dancing Script", cursive;
    }
  }

  @media only screen and (max-width: 450px) {

    #footerHome {
      margin-top: 0;
    }
    .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      background-color: transparent;
    }

    .navbar-collapse.show {
      background-color: #47494d94;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 5%;
    }
  
    #searchLineID {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      font-family: "Dancing Script", cursive;
    }

    
#searchContainer {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0 auto;
}

#searchByIdInput {
  flex: 1;
  border: none;
  height: 3rem;
  width: 100px;
  background: transparent;
  outline: none;
  padding-left: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

#searchIdButton {
  background: linear-gradient(to right, #D42029, #ff0000);
  color: #fff;
  border-radius: 2rem;
  width: 5rem;
  height: 3rem;
  font-size: 1.3rem;
}

.carousel {
  margin-left: -2.5rem;
}

.carousel__prev {
  left: 25%;
  font-size: 0;
}
.carousel__next {
  right: 0%;
  font-size: 0;
}

#MoviePoster img {
  max-width: 100%;
  height: 100%;
  border-radius: 8px;
  margin-top: 0;
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80px);
  }
}

.carousel__body .carousel__slider__item .item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.carousel__body{
margin-left: 2.5rem;
}
 #moviePresentation {
    flex-direction: column;
    align-items: center;
  }

  #posterContainer {
    order: 2;
    padding: 10px; 
  }

  #movieDetails {
    order: 1; 
    padding: 10px;
  }

  .movie-cast {
    max-width: 100%;  
    overflow: hidden; 
}

#movieCast img {
  width: 4rem;
  height: 6rem;
  border-radius: 40px;
  transition: transform 0.3s;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.879);
}

.columnsSection {
  display: flex;
  justify-content: space-evenly;
  padding-left: 2px;
  text-align: center;
}

div.cast-columns1 div{
flex-direction: column;
align-items: center;

}

div.cast-columns2 div{
  flex-direction: column;
  align-items: center;
  
  }


  }